* {
    --auburn: #a31f26ff;
    --arylide-yellow: #e3c567ff;
    --satin-sheen-gold: #c8963eff;
    --earth-yellow: #d9ae61ff;
    --dark-cyan: #548687ff;
}

html,
body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    ;
    flex-direction: column;
}

footer {
    background-color: var(--dark-cyan);
}

.return {
    position: relative;
    top: -10%;
    left:50%;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/* column is a class for each column en container*/
.col {
    height: 100%;
    /*fit content8*/
    justify-content: space-around;
}

.left {
    /*the width is 100 minus the width of the right column*/
    width: 40%;

    /* flex-grow: 1; */
    /*tablet size 768px TO 20% */
    background-color: blue;
    align-items: center;
    align-content: center;
    display: inline-flex;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 768px) {
        width: 50%;
    }

    /*the width changes to 90% when the screen is smaller than 600px*/
    @media screen and (max-width: 600px) {
        width: 75%;
    }
}

.video {
    /* have the video fit inside the container */
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.logo {
    /*hover in the middle of the container 10% from the top*/
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    margin: 0 auto;


}

.logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.right {
    /*in order to make the padding on the top and bottom work*/
    box-sizing: border-box;
    /*gradient between satin sheen gold and earth yellow*/
    background-color: var(--arylide-yellow);
    width: 60%;

    display: grid;
    column-gap: 2%;
    row-gap: 1%;
    padding: 1%;
    /*the width changes to 70% when the screen is smaller than 768px*/
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 768px) {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
    }

    /*the width changes to 90% when the screen is smaller than 600px*/
    @media screen and (max-width: 600px) {
        width: 25%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*style the buttons inside sidebtn*/
.sidebtn a {
    display: flex;
    /*center the text vertically and horizontally*/
    align-items: center;
    justify-content: center;

    /*disable text underline*/
    text-decoration: none;
    height: 100%;
    width: 100%;

    background-color: var(--auburn);
    color: white;
    border: thick;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Carrusel de imágenes en la columna derecha */
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}