#breadcrumb {
    min-height: 5vh;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
}

.progress-bar {
    display:inline-block;
    background-color: white;
    flex-grow: 2;
    height: 30%;
}

.progress-bar div {
    background-color: var(--auburn);
    width: 0%;
    height: 100%;
    transition: width 0.5s ease-in-out;
}
/* not supported in firefox */
/* if the progress ball if active, fill up the previous progress bars*/
.progress-bar:has(~ .progress-ball.active) div{
    width: 100%;
}
/* active the progress ball if the ball in front is active */
.progress-ball:has(~ .progress-ball.active) {
    background-color: var(--auburn);
}

/* if the progress ball is active, in front there is not delay */




.progress-ball {
    box-sizing: border-box;
    display: inline-block;
    background-color: gray;
    width: 5vw;
    /* allow progress to grow inways */
    margin: 0 -1vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 1;
    /* WIP circle animation */
    /* background: linear-gradient(to left, gray 50%, var(--auburn) 50%) right;
    background-size: 200% 100%;
    transition: 0.5s background ease-out;
    transition-delay: 0.5s; */
}
#selectionBall {
    margin-left: 0;
}
#confirmBall {
    margin-right: 0;
}




.progress-ball.active {
    background-color: var(--auburn);
    background-position: left;
}

#menuTotals {
    display: flex;
    flex-direction: row;
    /* no wrap */
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 1%;
    /* don't take up all the screen */
    margin-left: 50%;
}
#menuTotals button,
#menuTotals div {
    margin: 0.2vh;
    padding: 0.5em;
    border-radius: 5px;
    background-color: var(--auburn);
    flex-grow: 2;
    color: white;
    font-weight: bold;
}


#menuTotals button {
    /* get rid of normal button styling */
    border: none;
}

#menuTotals button{
    flex-shrink: 1;
    flex-grow: 1;
}

/* style the button on hover when not disabled */
#menuTotals button:not(:disabled):hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menu-item {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    background-color: var(--arylide-yellow);
    border-radius: 25px;
    padding: 0.5em;
    column-gap: 0.5em;
    margin: 1vw 15vw;

}

.menu-item-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-selection {
    display: grid;
    /* grid with 1fr 2fr 1fr */
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 0.2em;
    align-items: start;
    margin-top: 1vh;
}

.menu-item-selection button {
    /* get rid of normal button styling */
    border: none;
    /* make the button fill the container */
    /* center the text vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /*disable text underline*/
    background-color: var(--auburn);
    color: white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.menu-item-selection input {
    text-align: right;
}

.menu-item-img {
    /* have the image fit within the container */
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.menu-item-body {
    display: flex;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
}

.menu-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.menu-item-info h4 {
    margin: 1vh 0;
}


.content {
    width: 0;
    height: 0;
}

.content.active {
    width: inherit;
    height: 100%;
    transition: width 0.5s ease-out;
}

#menuConfirm {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

#orderSummary {
    margin: 5vh 0;
}

#timerBox {
    background-color: var(--auburn);
    height: calc(75px + 25vw);
    font-size: 10vw;
    border-radius: 50%;
    /* border-width: 50vh; */
    aspect-ratio: 1 / 1;
    /* center border on text */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--arylide-yellow)
}


@media screen and (max-width: 768px) {
    .menu-item {
        margin: 1vw;
    }
}

/* @media screen and (max-width: 600px) {

} */
