#menuReview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    padding: 0 2vw;
    /* prevent width from overflowing */
    box-sizing: border-box;

}
/* every child element of a div, works because our our layout */
#menuReview > div > * {
    border-radius: 25px;
    background-color: var(--arylide-yellow);
    padding: 1em;
}

#orderReview {
    display: flex;
    flex-direction: column;
}
#orderItems {
    display: grid;
    margin-bottom: 1vh;
    flex-direction: row;
    flex-wrap: wrap;

}

.order-item {
    flex-grow: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
    background-color: var(--auburn);
    padding: 0.5em;
    margin: 0.5vh 0;
}
.order-item img {
    border-radius: 25px;
    width: 100%;
}
.order-item img ~ div {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    text-align: right;
    color: white;
}
.order-item img ~ div p {
   margin: 0;
}

.order-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.order-total > * {
    margin: 0.5vh 0;
}

#orderReview button {
   align-self: flex-end;
   margin: 0 0.5vw;
   padding: 0.5em;
   border-radius: 5px;
   background-color: var(--auburn);
   color: white;
   font-weight: bold;
   cursor: pointer;
   border: none;
}



#orderInformation {
    display: flex;
    flex-direction: column;
}
/* apply to all label and block in orderInformation */
#orderInformation > * {
    margin: 0.5vh 0;
}
#orderInformation > label {
    align-self: center;
}
#paymentOptions h1 {
    font-size: larger;
}

#orderInformation input[type="button"] {
    margin: 0 0.5vw;
    padding: 0.5em;
    border-radius: 5px;
    background-color: var(--auburn);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#orderInformation input[type="button"]:disabled {
    background-color: var(--auburn);
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
}